* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Header */

.header-homepage {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    z-index: 10;
}

.header-homepage-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-homepage-right a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 35px;
}

#header-logo {
    width: 190px;
    height: 80px;
    border: 2px solid #a59779;
    box-shadow: 5px 5px 10px #0000004d;
}

.overlay-fade-up {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 388px;
    background: linear-gradient(#e6646400, #013220);
}

.overlay-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.062);
}

/* Small hero */

.small-hero-container {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 100px;
}

.small-hero-container img{
    width: 100%;
    height: 100%;
}

.small-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5%;
    padding-bottom: 4%;
}

.small-hero-overlay h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.small-hero-border {
    width: 100%;
    height: 25px;
    background-color: #013220;
    border-bottom: 3px solid #a59779;
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* Scroll Header */

.scroll-header-container {
    position: fixed;
    top: -120px;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 120px;
    z-index: 10;
    background-color: #013220;
    transition: all 0.5s ease-in-out;
}

.active{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 120px;
    z-index: 10;
    background-color: #013220;
    transition: all 0.5s ease-in-out;
    border-bottom: 3px solid #a59779;
}



.scroll-header-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.scroll-header-left {

}

.scroll-header-left a {
    
}

.scroll-header-left img {
    
}

.scroll-header-right {

}

.scroll-header-right a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 35px;
}

/* Quick-Links */

.quick-contact-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    right: 0;
    top: 19%;
    z-index: 10;

}

.quick-contact-links a {
    color: black;
    text-decoration: none;
}

.quick-phone, .quick-email, .quick-form {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    height: 60px;
    background-color: #FFCB08;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.quick-phone {
    border: 1px solid black;
    /* border-bottom: 1px solid red; */
    /* border-top-left-radius: 15px; */
    padding-left: 22px;
    top: 0;
    right: -190px;
    box-shadow: 5px 5px 10px #0000004d;
}


.quick-email {
    border: 1px solid black;
    /* border-top: 1px solid red;
    border-bottom: 1px solid red; */
    padding-left: 28px;
    top: 62px;
    right: -190px;
    box-shadow: 5px 5px 10px #0000004d;
}

.quick-form {
    border: 1px solid black;
    /* border-top: 1px solid red; */
    /* border-bottom-left-radius: 15px; */
    padding-left: 20px;
    top: 124px;
    right: -190px;
    box-shadow: 5px 5px 10px #0000004d;
}

.quick-form img {
    height: 50px;
    width: 55px;
}

.quick-phone:hover {
    right: -90px;
}

.quick-email:hover {
    right: -75px;
}

.quick-form:hover {
    right: -32px;
}

.quick-text-phone {
    margin-left: 18px;
    font-size: 20px;
    font-weight: 600;

}

.quick-text-email {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.quick-text-form {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 600;
}


/* Partners */

.partners-container {
    width: 100%;
    height: 245px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #013220;
    z-index: 10;
}

.partners-text {

}

.partners-text p {
    font-size: 25px;
    font-weight: 400;
}

.partner-logos {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}


/* Footer */


.footer-container {
    color: white;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #013220;
    padding: 0 5%;
    z-index: 10;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.footer-left {
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 40%;
    border-right: 2px solid white;
}

.footer-logo img {
    width: 176px;
    height: 73px;
    border: 3px solid #a59779;
    box-shadow: 5px 5px 10px #0000004d;
}

.footer-logo p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 5px;
}

.footer-logo p span{
    font-weight: 400;

}

.footer-ethos {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
}

.footer-ethos p {
    font-size: 24px;
    font-weight: 300;
}

.footer-right {
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-links-left {
    height: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-links-left a {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px;
}

.footer-links-right {

}

.footer-links-right img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-contact-details {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.footer-contact-details a {
    font-size: 24px;
    font-weight: 300;
}

/* animations */

.headerFadeDown {
    opacity: 0;
    transform: translateY(-200px);
    transition: transform 1000ms ease-out, opacity 1000ms ease-in-out;
    transition-delay: 1s;
}

.headerFadeDown.appear {
    opacity: 1;
    transform: translateY(0);
}


.smallHeroFade {
    opacity: 0;
    transform: translateX(-500px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
}

.smallHeroFade.appear {
    opacity: 1;
    transform: translateX(0);
}

#backgroundDecFade {
    opacity: 0;
    transform: translateX(100px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
}

#backgroundDecFade.appear {
    opacity: 1;
    transform: translateX(0);
}



.fade-in {
    opacity: 0;
    transform: translateY(200px);
    transition: transform 1000ms ease-out, opacity 1000ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.fadeLeft {
    opacity: 0;
    transform: translateX(-500px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 1.5s;
}

.fadeLeft.appear {
    opacity: 1;
    transform: translateX(0);
}

.fadeRight {
    opacity: 0;
    transform: translateX(500px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 1.5s;
}

.fadeRight.appear {
    opacity: 1;
    transform: translateX(0);
}


.fadeLeftQuick {
    opacity: 0;
    transform: translateX(-500px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 0.25s;
}

.fadeLeftQuick.appear {
    opacity: 1;
    transform: translateX(0);
}

.fadeRightQuick {
    opacity: 0;
    transform: translateX(500px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 0.25s;
}

.fadeRightQuick.appear {
    opacity: 1;
    transform: translateX(0);
}




.quickPhone {
    opacity: 0;
    transform: translateX(90px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 2.5s;
}

.quickPhone.appear {
    opacity: 1;
    transform: translateX(0);
}


.quickEmail {
    opacity: 0;
    transform: translateX(90px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 3s;
}

.quickEmail.appear {
    opacity: 1;
    transform: translateX(0);
}

.quickForm {
    opacity: 0;
    transform: translateX(90px);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 3.5s;
}

.quickForm.appear {
    opacity: 1;
    transform: translateX(0);
}


/* Breakpoints */

@media screen and (min-width: 2240px) {
    .header-homepage.headerFadeDown.appear {
        height: 240px;
    }

    .header-homepage-right a {
        font-size: 35px;
        margin-left: 45px;
    }

    #header-logo {
        width: 200px;
        height: 85px;
    }

    .quick-contact-links {
        
    }

    .quick-phone {
        
    }

    .quick-phone.quickPhone.appear {
        
    }

    .quick-phone.quickForm.appear {
        
    }

    .quick-email {
        top: 100px;
    }

    .quick-email.quickEmail.appear {
        
    }

    .quick-email.quickForm.appear {
        
    }

    .quick-form {
        top: 200px;
    }

    .quick-form.quickForm.appear {
        
    }
    

    .quick-form img {
        
    }

    .quick-email img {
        
    }

    .quick-phone img {
        
    }

    
    .quick-phone, .quick-email, .quick-form {
        width: 280px;
        height: 95px;
        
    }
    
}


@media screen and (max-width: 1600px) {
    

    .header-homepage.headerFadeDown.appear {
        height: 160px;
    }

    .header-homepage-right a {
        font-size: 20px;
        margin-left: 20px;
    }

    #header-logo {
        width: 160px;
        height: 65px;
    }

    .small-hero-container.smallHeroFade.appear {
        height: 360px;
    }

    .small-hero-overlay h1 {
        font-size: 60px;
    }
    
    .small-hero-border {
        height: 20px;
    }

    .quick-contact-links {
        top: 22%;
    }

    .quick-phone {
        padding-left: 15px;
    }

    .quick-phone.quickPhone.appear {
        right: -220px;
    }

    .quick-phone.quickForm.appear {
        right: -220px;
    }

    .quick-email {
        padding-left: 16px;
    }

    .quick-email.quickEmail.appear {
        right: -220px;
        top: 54px;
    }

    .quick-email.quickForm.appear {
        right: -220px;
        top: 54px;
    }

    .quick-form {
        padding-left: 10px;
    }

    .quick-form.quickForm.appear {
        right: -220px;
        top: 108px;
    }
    

    .quick-form img {
        height: 40px;
        width: 45px;
    }

    .quick-email img {
        width: 32px;
    }

    .quick-phone img {
        width: 32px;
    }

    
    .quick-phone, .quick-email, .quick-form {
        width: 280px;
        height: 52px;
        
    }
    
}


@media screen and (max-width: 1000px) {
    .header-homepage.headerFadeDown.appear {
        height: 115px;
    }

    .header-homepage-right a {
        font-size: 16px;
        margin-left: 15px;
    }

    #header-logo {
        width: 115px;
        height: 50px;
    }

    .quick-contact-links {
        top: 22%;
    }

    .quick-phone {
        padding-left: 8px;
    }

    .quick-phone.quickPhone.appear {
        right: -235px;
    }

    .quick-phone.quickForm.appear {
        right: -235px;
    }

    .quick-email {
        padding-left: 12px;
    }

    .quick-email.quickEmail.appear {
        right: -235px;
        top: 42px;
    }

    .quick-email.quickForm.appear {
        right: -235px;
        top: 42px;
    }

    .quick-form {
        padding-left: 7px;
    }

    .quick-form.quickForm.appear {
        right: -235px;
        top: 84px;
    }


    .quick-form img {
        height: 31px;
        width: 33px;
    }

    .quick-email img {
        width: 24px;
    }

    .quick-phone img {
        width: 28px;
    }

    
    .quick-phone, .quick-email, .quick-form {
        width: 280px;
        height: 40px;
        
    }
    
}











