* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}

body.lock {
      overflow: hidden;
}

.main-container {
    overflow-x: hidden;
}


/* Header */

.header-homepage {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    z-index: 10;
}

.header-homepage-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-homepage-right a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 35px;
}

.hamburger-menu {
    display: none;
    background-color: #00000047;
    padding: 7px 5px 7px 5px;
    border-radius: 5px;
    backdrop-filter: blur(50px);
}

.scroll-hamburger-menu {
    display: none;
}

#header-logo {
    width: 190px;
    height: 80px;
    border: 2px solid #a59779;
    box-shadow: 5px 5px 10px #0000004d;
}

.overlay-fade-up {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 388px;
    background: linear-gradient(#e6646400, #013220);
}

.overlay-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.062);
}


/* Mobile menu */

aside {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -330px;
    width: 320px;
    height: 100%;
    z-index: 20;
    background-color: white;
    padding: 40px;
    box-shadow: -5px 3px 10px #0000004d;
    transition: all 0.25s ease-in-out;
    overflow: auto;
}

aside.open {
    right: 0px;
}

.mobile-menu-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 80px;
}

.mobile-menu-top img {
    cursor: pointer;
}

.mobile-menu-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40%;
}

.mobile-menu-links a {
    text-decoration: none;
    color: #013220;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 26px;
}

.mobile-menu-bottom {
    width: 100%;
    margin-bottom: 50px;
}

.mobile-menu-bottom img{
    margin-right: 5px;
}

.mobile-menu-bottom svg {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}


/* Backdrop */

.backdrop {
    display: none;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(2px);
    background-color: #00000021;
    z-index: 15;
}

.blur {
    display: block;
}

.greenline {
    position: fixed;
    top: 0px;
    right: calc(5% + 5px);
    width: 5px;
    height: 100vh;
    background-color: #013220;
    z-index: 4;
}

.goldline {
    position: fixed;
    top: 0px;
    right: 5%;
    width: 5px;
    height: 100vh;
    background-color: #a59779;
    z-index: 4;
}


/* Small hero */

.small-hero-container-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: white;
    z-index: 5;
}

.small-hero-container img{
    width: 100%;
    height: 100%;
}

.small-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5%;
    padding-bottom: 50px;
}

.small-hero-overlay h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.small-hero-border {
    width: 100%;
    height: 25px;
    background-color: #013220;
    border-bottom: 3px solid #a59779;
    position: absolute;
    bottom: -2px;
    left: 0;
}


/* Scroll Header */

.scroll-header-container {
    position: fixed;
    top: -140px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 120px;
    z-index: 20;
    background-color: #013220;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 5px 10px #0000004d;
}

.active{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 120px;
    z-index: 20;
    background-color: #013220;
    transition: all 0.5s ease-in-out;
    border-bottom: 3px solid #a59779;
}

.scroll-header-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.scroll-header-right a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 35px;
}


/* Quick-Links */

.quick-contact-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    right: 0;
    top: 200px;
    z-index: 10;
}

.quick-contact-links a {
    color: black;
    text-decoration: none;
}

.quickPhone {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    height: 60px;
    background-color: #FFCB08;
    cursor: pointer;
    padding-left: 22px;
    top: 0;
    right: -192px;
    box-shadow: 5px 5px 10px #0000004d;
    opacity: 0;
    transform: translateX(90px);
    transition: transform 500ms ease-out 2.5s, opacity 800ms ease-in-out 2.5s, right 250ms ease-in-out;
}

.quickPhone.appear {
    opacity: 1;
    transform: translateX(0);
}

.quickPhone.appear:hover {
    right: -90px;
}

.quickEmail {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    height: 60px;
    background-color: #FFCB08;
    cursor: pointer;
    padding-left: 28px;
    top: 62px;
    right: -192px;
    box-shadow: 5px 5px 10px #0000004d;
    opacity: 0;
    transform: translateX(90px);
    transition: transform 500ms ease-out 3s, opacity 800ms ease-in-out 3s, right 250ms ease-in-out;
}

.quickEmail.appear {
    opacity: 1;
    transform: translateX(0);
}

.quickEmail.appear:hover {
    right: -90px;
}

.quickForm {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    height: 60px;
    background-color: #FFCB08;
    cursor: pointer;
    padding-left: 20px;
    top: 124px;
    right: -192px;
    box-shadow: 5px 5px 10px #0000004d;
    opacity: 0;
    transform: translateX(90px);
    transition: transform 500ms ease-out 3.5s, opacity 800ms ease-in-out 3.5s, right 250ms ease-in-out;
}

.quickForm.appear {
    opacity: 1;
    transform: translateX(0);
}

.quickForm.appear:hover {
    right: -36px;
}

.quickForm img {
    height: 50px;
    width: 55px;
}

.quick-text-phone {
    margin-left: 18px;
    font-size: 20px;
    font-weight: 600;
}

.quick-text-email {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.quick-text-form {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 600;
}


/* Partners */

.partners-container {
    width: 100%;
    height: 245px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.partners-text p {
    font-size: 25px;
    font-weight: 400;
}

.partner-logos {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}


/* Footer */

.footer-container {
    color: white;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #013220;
    padding: 0 5%;
    z-index: 10;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.footer-left {
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 30%;
    border-right: 2px solid white;
}

.footer-logo img {
    width: 176px;
    height: 73px;
    border: 3px solid #a59779;
    box-shadow: 5px 5px 10px #0000004d;
}

.footer-logo p {
    font-size: 16px;
    font-weight: 200;
    margin-top: 5px;
}

.footer-logo p span{
    font-weight: 400;
}

.footer-ethos {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 6%;
}

.footer-ethos p {
    font-size: 24px;
    font-weight: 300;
}

.footer-right {
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-links-left {
    height: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer-links-left a {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px;
}

.footer-links-right img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer-contact-details {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.footer-contact-details a {
    font-size: 24px;
    font-weight: 300;
}


/* animations */

.headerFadeDown {
    opacity: 0;
    transform: translateY(-200px);
    transition: transform 1000ms ease-out, opacity 1000ms ease-in-out;
    transition-delay: 1s;
}

.headerFadeDown.appear {
    opacity: 1;
    transform: translateY(0);
}


.smallHeroFade {
    opacity: 0;
    transform: translateX(-8%);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
}

.smallHeroFade.appear {
    opacity: 1;
    transform: translateX(0);
}

#backgroundDecFade {
    opacity: 0;
    transform: translateX(calc(100vw * 0.04));
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
}

#backgroundDecFade.appear {
    opacity: 1;
    transform: translateX(0);
}

.fade-in {
    opacity: 0;
    transform: translateY(200px);
    transition: transform 1000ms ease-out, opacity 1000ms ease-in-out;
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}

.fadeLeft {
    opacity: 0;
    transform: translateX(-10%);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 1.5s;
}

.fadeLeft.appear {
    opacity: 1;
    transform: translateX(0);
}

.fadeRight {
    opacity: 0;
    transform: translateX(10%);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 1.5s;
}

.fadeRight.appear {
    opacity: 1;
    transform: translateX(0);
}


.fadeLeftQuick {
    opacity: 0;
    transform: translateX(-10%);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 0.25s;
}

.fadeLeftQuick.appear {
    opacity: 1;
    transform: translateX(0);
}

.fadeRightQuick {
    opacity: 0;
    transform: translateX(10%);
    transition: transform 500ms ease-out, opacity 800ms ease-in-out;
    transition-delay: 0.25s;
}

.fadeRightQuick.appear {
    opacity: 1;
    transform: translateX(0);
}


/* Breakpoints */

@media screen and (min-width: 2240px) {

    .header-homepage.headerFadeDown.appear {
        height: 240px;
    }

    .header-homepage-right a {
        font-size: 35px;
        margin-left: 45px;
    }

    #header-logo {
        width: 200px;
        height: 85px;
    }

    .quickEmail {
        top: 100px;
    }

    .quickForm {
        top: 200px;
    }

    .quickPhone, .quickEmail, .quickForm {
        width: 280px;
        height: 95px;
    }
    
}


@media screen and (max-width: 1600px) {
    
    .header-homepage.headerFadeDown.appear, .header-homepage.smallHeroFade.appear {
        height: 160px;
    }

    .header-homepage-right a {
        font-size: 20px;
        margin-left: 20px;
    }

    #header-logo {
        width: 160px;
        height: 65px;
    }

    .active {
        height: 95px;
    }

    .scroll-header-right a {
        font-size: 20px;
        margin-left: 20px;
    }

    .small-hero-container.smallHeroFade.appear {
        height: 360px;
        margin-bottom: 60px;

    }

    .small-hero-container-backdrop {
        height: 360px;
    }

    .small-hero-overlay {
        padding-bottom: 40px;
    }

    .small-hero-overlay h1 {
        font-size: 55px;
    }
    
    .small-hero-border {
        height: 20px;
    }

    .quick-contact-links {
        top: 138px;
    }

    .quickPhone {
        padding-left: 15px;
    }

    .quickPhone {
        right: -220px;
    }

    .quick-phone.quickForm.appear {
        right: -220px;
    }

    .quickEmail {
        padding-left: 16px;
    }

    .quickEmail {
        right: -220px;
        top: 54px;
    }

    .quick-email.quickForm.appear {
        right: -220px;
        top: 54px;
    }

    .quickForm {
        padding-left: 10px;
    }

    .quickForm {
        right: -220px;
        top: 108px;
    }

    .quickForm img {
        height: 40px;
        width: 45px;
    }

    .quickEmail img {
        width: 32px;
    }

    .quickPhone img {
        width: 32px;
    }

    
    .quickPhone, .quickEmail, .quickForm {
        width: 280px;
        height: 52px;
    }

    .quick-text-phone, .quick-text-email, .quick-text-form {
        font-size: 16px;
    }

    .quickPhone.appear:hover {
        right: -135px;
    }

    .quickEmail.appear:hover {
        right: -120px;
    }

    .quickForm.appear:hover {
        right: -85px;
    }

    .partners-container {
        height: 145px;
    }
    
    .partners-text p {
        font-size: 18px;
        margin-top: 10px;
    }

    .partner-logos {
        margin-top: 4px;
    }
    
    .partner-logos img {
        width: 15%;
    }

    .footer-container {
        height: 175px;
    }

    .footer-left, .footer-right {
        height: 60%;
    }

    .footer-logo {
        width: 37%;
    }

    .footer-logo img {
        width: 155px;
        height: 62px;
    }

    .footer-logo p {
        font-size: 12px;
        margin-top: 4px;
    }

    .footer-ethos {
        width: 63%;
    }

    .footer-ethos p {
        font-size: 18px;
    }

    .footer-links-left a {
        font-size: 18px;
        margin-top: 4px;
    }

    .footer-links-right img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .footer-contact-details a {
        font-size: 18px;
    }
    
}


@media screen and (max-width: 1000px) {
    .header-homepage.headerFadeDown.appear, .header-homepage.smallHeroFade.appear {
        height: 115px;
        
    }

    .header-homepage-right a, .scroll-header-right a {
        font-size: 16px;
        margin-left: 15px;
        display: none;
    }

    .hamburger-menu, .scroll-hamburger-menu {
        display: flex;
    }

   

    #header-logo {
        width: 115px;
        height: 50px;
    }

    .active {
        height: 80px;
    }


    aside {
        display: flex;
    }

    .scroll-header-right a {
        font-size: 16px;
        margin-left: 15px;
    }

    .small-hero-container.smallHeroFade.appear {
        height: 250px;
        margin-bottom: 32px;

    }

    .small-hero-container-backdrop {
        height: 250px;
    }

    

    .small-hero-overlay {
        padding-bottom: 28px;
    }

    .small-hero-overlay h1 {
        font-size: 32px;
    }
    
    .small-hero-border {
        height: 15px;
    }

    .fade-down {
        display: none;
    }

    .quick-contact-links {
        top: 118px;
    }

    .quickPhone {
        padding-left: 8px;
    }

    .quickPhone.appear {
        right: -235px;
    }

    .quickPhone.appear:hover, .quickEmail.appear:hover, .quickForm.appear:hover {
        right: -235px;
    }

    .quick-phone.quickForm.appear {
        right: -235px;
    }

    .quickEmail {
        padding-left: 12px;
    }

    .quickEmail.appear {
        right: -235px;
        top: 42px;
    }

    .quick-email.quickForm.appear {
        right: -235px;
        top: 42px;
    }

    .quickForm {
        padding-left: 7px;
    }

    .quickForm.appear {
        right: -235px;
        top: 84px;
    }


    .quickForm img {
        height: 31px;
        width: 33px;
    }

    .quickEmail img {
        width: 24px;
    }

    .quickPhone img {
        width: 28px;
    }

    
    .quickPhone, .quickEmail, .quickForm {
        width: 280px;
        height: 40px; 
    }

    .partners-container {
        height: 105px;
    }
    
    .partners-text p {
        font-size: 14px;
    }


    .footer-container {
        height: 155px;
    }

    .footer-left, .footer-right {
        height: 56%;
    }

    .footer-logo {
        width: 45%;
    }

    .footer-logo img {
        width: 115px;
        height: 50px;
    }

    .footer-logo p {
        font-size: 10px;
        margin-top: 4px;

    }
    .footer-ethos p {
        font-size: 15px;
    }

    .footer-ethos {
        width: 55%;
    }

    .footer-links-left a {
        font-size: 14px;
        margin-top: 4px;
    }

    .footer-links-right img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    .footer-contact-details a {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 750px) {
    .footer-container {
        height: unset;
        flex-direction: column-reverse;
        padding: 30px 0 30px 0;
    }

    .footer-left {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .footer-logo {
        width: unset;
        align-items: center;
        border: none;
    }

    .footer-ethos {
        width: 90%;
        max-width: 300px;
        padding: unset;
        margin: 25px 0 35px 0;
    }

    .footer-ethos p {
        text-align: center;
        font-size: 16px;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: unset;
    }

    .footer-links-left {
        margin-right: unset;
        align-items: center;
    }

    .footer-links-left a {
        margin: 0 0 12px 0;
        font-size: 16px;
    }

    .footer-links-right {
        margin: 20px 0 25px 0;
    }

    .footer-links-right img {
        margin-right: unset;
        margin: 0 5px;
    }

    .footer-contact-details {
        align-items: center;
        justify-content: flex-start;
    }

    .footer-contact-details a {
        margin-bottom: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .greenline, .goldline, .jym-logo-decoration, .jym-logo-decoration-second {
        display: none;
    }

    .partners-container {
        height: unset;
    }

    .partner-logos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }

    .partner-logos img {
        width: 35%;
        margin-bottom: 28px;
    }

    .partners-text p {
        margin-top: 18px;
    }

    .footer-contact-details a, .footer-links-left a, .footer-ethos p, .footer-logo p {
        text-align: center;
    }

}


@media screen and (max-width: 550px) {
    .small-hero-overlay {
        padding-bottom: 20px;
    }

    .header-homepage.headerFadeDown.appear, .header-homepage.smallHeroFade.appear {
        height: 95px;
    }
}

@media screen and (max-width: 320px) {
    aside {
        width: 100%;
    }
}