.main-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.fade-down {
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(to bottom, #013220, #01322000); */
    z-index: 2;
    width: 100%;
    height: 15%;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}

.fade-down::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to bottom, #013220, #01322000);
    transition: all 0.5s ease-in-out;
}

.fade-down.hover {
    height: 30%;
}

.fade-down.hover::after {
    opacity: 1;
}





/* Hero-Text */

.hero-text {
    position: absolute;
    bottom: 8%;
    left: 5%;
    z-index: 10;
}

.hero-text-top {

}

.hero-text-top h1 {
    font-size: 100px;
    color: white;
    font-weight: bold;
    line-height: 1;
    text-shadow: 5px 5px 10px #000000a9;
}

.hero-text-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-text-bottom h3 {
    font-size: 50px;
    color: #a59779;
    font-weight: bold;
    line-height: 1;
    margin-top: 8px;
}



/* Hero */



#hero-slideshow {
    width: 100%;
    height: 100vh;
}

.splide__track {
    width: 100%;
    height: 100%;
}

.splide__list {
    width: 100%;
    height: 100%;
}

.splide__slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splide__slide img {
    width: 100%;
    height: 100vh;
}

.hero-1, .hero-2, .hero-3, .hero-4, .hero-5, .hero-5, .hero-6, .hero-7, .hero-8, .hero-9, .hero-10, .hero-11 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.hero-1 {
    background-image: url(img/homepage/green_coast_solar.png); 
}
.hero-2 {
    background-image: url(img/homepage/commercial_solar_flat_roof.png);
}
.hero-3 {
    background-image: url(img/homepage/Hero_1.jpg); 
}
.hero-4 {
    background-image: url(img/homepage/James_roofing.png);
}
.hero-5 {
    background-image: url(img/homepage/flat_solar_green_estate.png); 
}
.hero-6 {
    background-image: url(img/homepage/coastal_solar.png);
}
.hero-7 {
    background-image: url(img/homepage/seaside_solar.png); 
}
.hero-8 {
    background-image: url(img/homepage/sunset-solar.png);
}
.hero-9 {
    background-image: url(img/homepage/Hero_2.jpg); 
}
.hero-10 {
    background-image: url(img/homepage/autumn_roofing.png);
}
.hero-11 {
    background-image: url(img/homepage/Hero_4.jpg);
}



.zoom-out {
    width: 100%;
    height: 100%;
    animation: zoom-out 9s infinite linear;
}


@keyframes zoom-out {
    from{
       transform: scale(1.1);
    }

    to{
        transform: scale(1);
    }
} 



/* Breakpoints */

@media screen and (min-width: 2240px) {
    

    .hero-text-bottom {
        bottom: 7%;
    }

    .hero-text-top h1 {
        font-size: 140px;
    }

    .hero-text-bottom h3 {
        font-size: 70px;
    }
    
}


@media screen and (max-width: 1600px) {
    

    .hero-text-top h1 {
        font-size: 70px;
    }

    .hero-text.fadeLeft.appear {
        bottom: 6%;
    }

    .hero-text-bottom h3 {
        font-size: 35px;
    }
    
}


@media screen and (max-width: 1000px) {
    

    .hero-text-top h1 {
        font-size: 52px;
    }

    .hero-text-bottom {
        bottom: 6%;
    }

    .hero-text-bottom h3 {
        font-size: 26px;
    }
    
}

@media screen and (max-width: 600px) {

    .header-homepage.headerFadeDown.appear, .header-homepage.smallHeroFade.appear {
        height: 90px;
    }

    .hero-text-top h1 {
        font-size: 38px;
    }

    .hero-text.fadeLeft.appear {
        bottom: 4%;
    }

    .hero-text-bottom h3 {
        font-size: 20px;
    }
    
    .hero-1 {
        background-image: url(img/homepage/green_coast_solar-mobile.png); 
    }
    .hero-2 {
        background-image: url(img/homepage/commercial_solar_flat_roof-mobile.png);
    }
    .hero-3 {
        background-image: url(img/homepage/Hero_1-mobile-2.png); 
    }
    .hero-4 {
        background-image: url(img/homepage/James_roofing-mobile.png);
    }
    .hero-5 {
        background-image: url(img/homepage/flat_solar_green_estate-mobile.png); 
    }
    .hero-6 {
        background-image: url(img/homepage/coastal_solar-mobile.png);
    }
    .hero-7 {
        background-image: url(img/homepage/seaside_solar-mobile.png); 
    }
    .hero-8 {
        background-image: url(img/homepage/sunset-solar-mobile.png);
    }
    .hero-9 {
        background-image: url(img/homepage/Hero_2-mobile.png); 
    }
    .hero-10 {
        background-image: url(img/homepage/autumn_roofing-mobile.png);
    }
    .hero-11 {
        background-image: url(img/homepage/Hero_4-mobile.png);
    }
    
    
}


