.main-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.fade-down {
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(to bottom, #013220, #01322000); */
    z-index: 2;
    width: 100%;
    height: 15%;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}

.fade-down::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to bottom, #013220, #01322000);
    transition: all 0.5s ease-in-out;
}

.fade-down.hover {
    height: 30%;
}

.fade-down.hover::after {
    opacity: 1;
}


/* Header */

.header-homepage {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    z-index: 10;
}

.header-homepage-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-homepage-right a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 35px;
}


/* Hero-Text */

.hero-text {
    position: absolute;
    bottom: 8%;
    left: 5%;
    z-index: 10;
}

.hero-text-top {

}

.hero-text-top h1 {
    font-size: 100px;
    color: white;
    font-weight: bold;
    line-height: 1;
    text-shadow: 5px 5px 10px #000000a9;
}

.hero-text-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-text-bottom h3 {
    font-size: 50px;
    color: #a59779;
    font-weight: bold;
    line-height: 1;
    margin-top: 8px;
}



/* Hero */

#hero-slideshow {
    width: 100%;
    height: 100%;
}

.splide__track {
    width: 100%;
    height: 100%;
}

.splide__slide img {
    width: 100%;
    height: 100%;
}

.zoom-out {
    width: 100%;
    height: 100%;
    animation: zoom-out 9s infinite linear;
}


@keyframes zoom-out {
    from{
       transform: scale(1.1);
    }

    to{
        transform: scale(1);
    }
} 