.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* Header */

.header-homepage {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    z-index: 10;
}

.header-homepage-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-homepage-right a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin-left: 35px;
}

/* Small hero */

.small-hero-container {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 100px;
}

.small-hero-container img{
    width: 100%;
    height: 100%;
}

.small-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5%;
    padding-bottom: 4%;
}

.small-hero-overlay h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.small-hero-border {
    width: 100%;
    height: 25px;
    background-color: #013220;
    border-bottom: 3px solid #a59779;
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* Our work Content */

.ourwork-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.slideshow-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.slideshow-container h3 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;

}





/* Splide Image Carousel */

.splide {
    width: 100%;
    /* height: 450px; */
}


.splide__slide img {
    height: 425px;
    width: 565px;
}

.splide__slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


