.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Header */

.header-homepage {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    z-index: 10;
}

.header-homepage-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-homepage-right a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 35px;
}

/* Small hero */

.small-hero-container {
    width: 100%;
    height: 650px;
    position: relative;
    margin-bottom: 100px;
}

.small-hero-container img{
    width: 100%;
    height: 100%;
}

.small-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 5%;
    padding-bottom: 4%;
}

.small-hero-overlay h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
}

.small-hero-border {
    width: 100%;
    height: 48px;
    background-color: #013220;
    border-bottom: 5px solid #FFD478;
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* JYM background decoration */

/* .greenline {
    position: absolute;
    top: 652px;
    right: 5.2%;
    width: 5px;
    height: 4000px;
    background-color: #013220;
    z-index: 5;
}

.goldline {
    position: absolute;
    top: 652px;
    right: 5%;
    width: 5px;
    height: 4000px;
    background-color: #FFD478;
    z-index: 5;
}

.jym-logo-decoration {
    position: absolute;
    top: 1400px;
    right: 2.2%;
    width: 120px;
    height: 50px;
    transform: rotate(90deg);
    border: 4px solid #FFD478;
    z-index: 6;
}

.jym-logo-decoration-second {
    position: absolute;
    top: 3500px;
    right: 2.2%;
    width: 120px;
    height: 50px;
    transform: rotate(90deg);
    border: 4px solid #FFD478;
    z-index: 6;
} */